* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.header {
    /* top: 0px;
left: -35px;
width: 100vw;
height: 12.7vw; */
height:265px;
background: #F8F8F8 0% 0% no-repeat padding-box;
/* opacity: 1; */
}

 .header__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1005px;
    margin-left: 22.6%;
    margin-right: 25.16%;
    justify-content: space-between;
} 

.header_wrapper{
    display:flex;
    max-width: 1005px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.header__title {
    position:absolute;
    margin-top: 4.5vw;
    margin-left: 20.8vw;
}

.header__title > h1 {
    width: 15.1vw;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #143774;
    opacity: 1;
    font-weight: bold;
    white-space: nowrap;
}

.header__title > p {
    /* width: 15.1vw; */
    font-size: 5.9px;
    line-height: 5.9px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #1792D2;
    text-transform: uppercase;
    opacity: 1;
    font-weight: bold;
}

.header__nav {
    margin-left: 50vw;
    max-width:50vw;
    margin-top: 5.4vw;
    position:absolute;
     white-space: nowrap;
}

.header__link {
    text-align: right;
    font: Bold 10px Ubuntu;
    line-height: 18px;
    letter-spacing: 3.2px;
    color: #717171;
    text-transform: uppercase;
    opacity: 1;
    display: inline-block;
    margin-right: 20px;
}

.passive:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    background-color: #717171;
    height: 1px;
}

/* .passive:hover:after,
.passive:focus:after {
    width: 100%;
} */

/* .header__link .active {
    border-bottom: 1 px solid;
}

.header__link:hover {
    border-bottom: 1 px solid;
} */

/* .content-wrapper {
    position: relative;
} */

.content {
    display: flex;
    /* flex-flow: row nowrap;
    position: relative;
    
    flex: 1 1 70%;
    margin: 2.6vw 2.4vw 69px 20.8vw; */
    max-width: 1005px;
    margin: 54px auto;
    justify-content: space-between;
}

.posts-list { 
    /* left: 20.8vw; */
    margin:0;
    /* width: 34.2vw; */
    width:70%;
}

.main-post
 {
    border-bottom: 1px solid #75757591;
    display:block;
}

.main-post__img {    
    /* height: 14.77vw; */
    /* text-align: center; */
    /* position: relative;  */
    /* overflow: hidden; */
    margin-bottom: 26px;
    height: 300px;
}

.post__img,
.small__img {
    margin:0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
    display: block;
    oblect-position: bottom;
}

.post__img:hover,
.main-post__data,
.next-post__data{   
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    line-height: 19px;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}
.post__comments{
    padding-top: 1.25vw;
    margin:0;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0;
    position: relative;
}

.next_post_comments{
    margin-top:11px;
}
.main-post__data {
    margin-bottom: 1.25vw;
    
}

.main-post__content h2,
.next-post__content h2 {
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 24px;
    line-height: 28px;
    color: rgba(20, 55, 116, 1);
    margin-bottom: 20px;
}

.main-post__content p,
.next-post__content p {
    text-align: left;
    font-weight: lighter;
    font-size: 9px;
    line-height: 14px;
    color: rgba(112, 112, 112, 1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
   
}

.next-post__content a,
.next-post__content p,
.next-post__content h2
 {
    margin-left:20px;
}

.main-post__content a {
    color: #1792D2;
}

.post__continue {
    text-align: left;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.4px;
    color: rgba(23, 146, 210, 1);
    text-transform: uppercase;
    font-weight: bold;
    display:inline-block;
    margin:15px 0;
}

.next-post {
    display: flex;
    flex: 0 1 708px;
    max-width: 708px;
    flex-wrap: nowrap;
    margin: 20px 0;
    max-height: 280px;
    flex-direction: row;
    justify-content: space-between;
}

.next-post__img{
    width: 198px;
    height: 242px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.aside-wrapper{
    display: flex;
    max-width: 240px;
    flex-direction: column;
    /* margin-left: 51px; */
    /* flex: 1 1 29% */
    width:30%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border: 20px solid #EBEBEB;
    opacity: 1;
    padding: 25px;
    justify-content: space-between;
}

.sidebar:nth-child(2) {
    margin-top: 45px;
}

.sidebar > h3 {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 3.6px;
    color: #143774;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 17px;
}

.sidebar__img {
    max-width: 150px;
    height: 133px;
    text-align: center;
    position: relative;
    margin-bottom: 28px;
    background: transparent;
    overflow: hidden;
}

.sidebar > p{
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0;
    color: #143774;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.sidebar-post {
    max-width: 150px;
    border-top: 1px solid #75757591;
    margin: 22px 0;
    padding-top: 22px;
}

.sidebar-post:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.sidebar-post >.sidebar__img {
    max-width: 150px;
    height: 87px;
    text-align: center;
    position: relative;
    margin: 10px 0;
    background: transparent
}

.sidebar-post > h4 {
    text-align: left;
    color: rgba(20, 55, 116, 1);
    font-weight: normal;
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 28px;
}

.footer {
    padding: 60px 0;
    background: #143774 no-repeat;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.footer__information {
    max-width: 685px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    opacity: 0.54;
}

.footer__information p span {
    font-weight: lighter;
}


@media (max-width: 557px) {
    .header {
        height: 330px;
        padding: 47px 0 61px;
    }

    .header__wrapper {
        flex-flow: column;
        align-items: center;
        justify-content: center;
        max-width: 557px;
        margin: 0;
    }

    

    .header__link {
        text-align: center;
        display: block;
        margin: 0 0 30px;
    }

    .content {
        max-width: 517px;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        justify-content: space-between;
        flex: 1 1 100%;
        margin: 58px 3.5% 70px 3.5%;
    }

    .posts-list {
        flex: 1 1 100%;
        max-width: 557px;
        width:70%;
    }

    .main-post {
        padding-bottom: 25px;
    }
   

    .main-post__img {
        max-width: 518px;
    }

    .next-post {
        flex: 1 1 518px;
        margin: 25px 0;
        max-height: 497px;
        max-width: 518px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .next-post__img{
        max-width: 517px;
        width: 100%;
        margin-right: 0;

    }

    .next-post__data {
        text-align: right;
        width: 100%;
    }

    .aside-wrapper{
        display:flex;
        justify-content:space-between;
        max-width: 518px;
        flex-direction: column;
        /* margin-left: 0;
        flex: 1 1 518px;
        margin-top: 24px; */ */
        width:30%;
    }

    

    .sidebar:nth-child(2) {
        margin-top: 78px;
    }

    .sidebar__img {
        max-width: 428px;
        height: 133px;
    }

    .sidebar-post {
        max-width: 428px;
        margin: 20px 0;
    }

    .sidebar-post >.sidebar__img {
        max-width: 420px;
    }

    .main-post_about {
        margin-bottom: 20px;
    }
}

/*About*/

.main-post__content h3 {
    text-align: left;
    color: #1792D2;
    font-weight: normal;
    font-family: 'Lora', serif;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 20px;
}

.main-post_about {
    border-bottom: none;
}

.main-post_about > .main-post__data {
    margin-bottom: 56px;
}

